<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms.1.5.3" version="2.0.0" targetFramework="net472" />
  <package id="CuoreUI.Winforms" version="2024.9.16.1" targetFramework="net472" />
  <package id="Krypton.Toolkit" version="85.24.8.239" targetFramework="net472" />
</packages>